/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.bundle
vendor/
*.gem

## IDE
*.xccheckout
.idea

## File
*.svn/
*.DS_Store
.DS_Store?


## other
*.pyc

# log指令缓存
log_cache.json